<nav class="shared-styles navbar">
  <div class="navbar-logo">
    <img src="/assets/logo.png" alt="Logo" />
    <span class="title-text">
      <span>b</span><span>a</span><span>z</span><span>l</span><span>a</span
      ><span>m</span><span>i</span><span>t</span><span>f</span><span>r</span
      ><span>a</span><span>m</span><span>e</span><span>s</span>
    </span>
  </div>

  <div class="btn btn-animated" (click)="toggleMenu()">
    <span class="plus-icon" [ngClass]="{ rotate: menuOpen }">+</span>
  </div>
</nav>

<div class="shared-styles menu" [ngClass]="{ 'menu-open': menuOpen }">
  <div class="navigation">
    <div class="navigation-header">
      <h3>Navigation</h3>
      <span class="line"></span>
    </div>

    <div class="flex">
      <div class="navigation-list">
        <a href="#">Home</a>
        <a [href]="shopURL">Shop Now</a>
        <a [href]="artistsURL">Artists</a>
      </div>

      <div class="navigation-list">
        <a href="#">Log In</a>
        <a href="#">About Us</a>
        <a href="#">Contact</a>
      </div>
    </div>
  </div>
</div>
