.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.border {
    height: 36.9rem;
    width: 29rem;
    background: transparent;
    border-radius: 1rem;
    transition: border 1s;
    position: relative;
}

.border:hover {
    border: .1rem solid white;
}

.card {
    height: 37.9rem;
    width: 30rem;
    background: black;
    border-radius: 1rem;
    transition: background 0.8s;
    overflow: hidden;
    box-shadow: 0 7rem 6.3rem -6rem #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-listing {
    z-index: 1;
    background-position: center center;
    background-size: 30rem;
    transition: background-size 0.8s, background-position 0.8s;
    overflow: hidden;
}

.card-listing:hover {
    background-position: top center;
    background-size: 60rem;
}

.card-listing::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: inherit;
    z-index: -1;
    transition: filter 1s;
    pointer-events: none;
}

.card-listing:hover::before {
    filter: blur(20px);
}

.card-listing:hover h2,
.card-listing:hover .info {
    opacity: 1;
}

h2 {
    color: #000;
    margin: 2rem;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    text-transform: capitalize;
    font-size: 3rem;
}

.info {
    display: block;
    opacity: 0;
    transition: opacity 1s;
    position: relative;
    font-size: 2rem;
}

.icons {
    position: absolute;
    fill: #000;
    color: #000;
    height: 13rem;
    top: 22rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
    margin-left: 2rem;
    gap: 2rem;
}