.filter-body {
    height: 5vh;
    position: relative;
}

.filter-button {
    position: absolute;
    top: 10px;
    left: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;

}

.filter-button i {
    margin-right: 5px;
}

.sorting-button {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 2px;
    cursor: pointer;
}

.sorting-button i {
    margin-right: 5px;
}

.custom-dialog {
    background: #FFEFBA;
    background: -webkit-linear-gradient(to left bottom, #FFFFFF, #FFEFBA);
    background: linear-gradient(to right, #FFFFFF, #FFEFBA);
}